/* ===================================
       DEFAULT CSS start HERE 
====================================== */
*{
    margin: 0;
    padding: 0;
    font-family:  Spartan, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
form:focus{
    outline: none;
}
button:focus{
    outline: none;
}


/* ===================================
       DEFAULT CSS END HERE 
====================================== */
/* ==========================================
       DEFAULT WEBSITE DESIGN CSS START HERE 
============================================= */
.main-button {
    color: rgb(95, 94, 214);
    font-weight: 600;
    background: rgb(255, 255, 255);
    border: none;
    padding: 9px 16px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease 0s;
    overflow: hidden;
}
.main-button:hover{
    color: #fff;
}
.main-button::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 100%;
    background-color: #7869fa;
    border-radius: 20px;
    z-index: -1;
    transition: .5s;
}
.main-button:hover::before{
    width: 100%;
     
}
/* ==========================================
       DEFAULT WEBSITE DESIGN CSS END HERE 
============================================= */
/* ===================================
       1.HEADER AREA START HERE
====================================== */
.header-area{
    background-color: #E7E6E6;
}
.header-area .navbar {
    padding: 0;
}
.logo img {
    width: 89px;
}
.main-menu ul {
    margin-right: 86px;
}
.main-menu ul li {
    margin-right: 20px;
    position: relative;
}
.main-menu ul li a {
    font-size: 12px;
    font-weight: 600;
    line-height: 59px;
    color: #D2D3CD;
    position: relative;
}
.main-menu ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #9D8FEC;
    transition: .5s;
}
.main-menu ul li a:hover{
    color: #5A18C6 !important;
}
.main-menu ul li a:hover::before{
    width: 100%;
   
}
.main-menu ul li a.active{
    color: #5A18C6 !important;
    position: relative;
}
.main-menu ul li a.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #9D8FEC;
}
/* DROPDOWN MENU */
.main-menu ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 170px;
    height: 84px;
    transition: .5s;
    text-align: center;
    background: #fff;
    opacity: 0;
    visibility: hidden;
}
.main-menu ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}
.main-menu ul li ul li{
    margin: 0;
}
.main-menu ul li ul a {
    color: #fff;
    padding: 0px 15px;
    display: inline-block;
    background: #0100ff;
    line-height: 46px;
    margin-top: 17px;
}
.main-menu ul li ul a:hover{
    color: #fff !important;
}
.main-menu ul li ul a::before{
    content: "";
    background-color: transparent;
}
/* ===================================
       1.HEADER AREA END HERE
====================================== */
/* ===================================
       2.BANNER AREA START HERE
====================================== */
.banner-area {
    background-color: rgb(237, 246, 255);
    height: 576px;
}
.banner-img {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    top: -122px;
    right: -66px;
}
.banner-img img{
    width: 100%;
    height: 100%;

}

.banner-text {
    margin-top: -139px;
}
.text h2 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 42px;
}
.text p {
    color: #8295BD;
    font-size: 14px;
    margin-bottom: 40px;
}
.text a {
    font-size: 12px;
    font-weight: 500;
    background: #0D6EFD;
    color: #fff;
    padding: 12px 18px;
    display: inline-block;
    transition: .5s;
    border-radius: 20px;
    border: 1px solid transparent;
}
.text a:hover{
    background: #fff !important;
    border: 1px solid #0D6EFD;
    color: #5A18C6;
}
/* ===================================
       2.BANNER AREA END HERE
====================================== */
/* ===================================
       3.PRODUCT AREA START HERE
====================================== */
.product-area {
    padding: 28px 0px 97px;
}
.product-card .card {
    border: none;
    padding: 6px;
    box-shadow: 1px 1px 10px 1px #dddddddb;
    background: #F9FCFF;
    transition: all .5s;
}
.product-card .card:hover{
    background-color: #3e41ee;
}
.product-content h6 {
    font-size: 14px;
    margin: 18px 0 20px;
    color: #7869fa;
}
.product-content h1 {
    font-weight: 600;
    margin-bottom: 43px;
    position: relative;
    font-size: 35.8px;
}
.product-content h1::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 5%;
    height: 3px;
    background: #9D8FEC;
}
.product-card .card:hover p{
    color: #fff !important;
}
.product-card .card:hover h5{
    color: #fff !important;
}
.product-card .card:hover span{
    color: #5252F0 !important;
    background-color: #fff;
}
.product-card .card:hover span::before{
    background-color: #fff;
    width: 80%;
}


.product-card h5 {
    font-weight: 500;
    color: #252D3C;
    margin-bottom: 17px;
    transition: all .5s;
}
.product-card span {
    width: 54px;
    height: 54px;
    display: inline-block;
    background: #5252F0;
    color: #fff;
    font-size: 21px;
    text-align: center;
    line-height: 54px;
    border-radius: 50% 50% 50% 0;
    position: relative;
    margin-bottom: 44px;
    transition: all .5s;
}
.product-card span::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 1px;
    width: 50%;
    height: 3px;
    background: #9D8FEC;
    transition: all .5s;
}
.product-card p {
    color: #928FAC;
    margin-bottom: 14px !important;
    font-size: 13px;
    transition: all .5s;
}
.product-card{
    position: relative;
    z-index: 1;
}
.bg-img::after {
    content: "";
    background: url("./img/service-patern.png") center top / cover no-repeat;
    position: absolute;
    top: 50px;
    left: -64px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* ===================================
       3.PRODUCT AREA END HERE
====================================== */
/* ===================================
        4.ANIMATION AREA START HERE
====================================== */
.video-animat{
    background: linear-gradient(rgba(9, 8, 41, 0.6),rgba(9, 8, 41, 0.6)), url(./img/video-bg.jpg) no-repeat top center;
    background-size: cover;
    padding: 82px 0 200px;
    color: #fff;
}
.video-text {
    width: 420px;
    margin: auto;
}
.video-text h6 {
    font-size: 14px;
    margin-bottom: 16px;
}
.video-text h1 {
    font-size: 25px;
    position: relative;
}
.video-text h1::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 154px;
    width: 78px;
    height: 2px;
    background: #fff;
    transition: all .5s;
}
.video-text p {
    color: #fff;
    margin: 30px 0 60px;
}
.anim{
    width: 82px;
    height: 82px;
    display: inline-block;
    text-align: center;
    line-height: 82px;
    background: #fff;
    color: #5252F0;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.anim::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    border: 1px solid #fff;
    animation: play 2s ease-in-out infinite;
}
.anim::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
    animation: play 2s ease-in-out infinite;
}

@keyframes play{
    0%{
        transform: scale(1);
        opacity: 0;
    }
    50%{
        transform: scale(1.5);
        opacity: 0.5;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
/* ===================================
        4.ANIMATION AREA START HERE
====================================== */
